page-about {
  .ladoesquerdo{
    float: left;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .ladodireito{
    float: right;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .card{
    height: 50%;
  }

  .preco{
    text-align: center;
    font-family: 'Poppins';
  }

  .introducao_produtos{
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-top: 2%;
    font-weight: 700;

  }

  .titulo_produtos{
    font-family: 'Raleway';
    font-size: 20px;
    float: center;
  }

  .titulo_produtos2{
    font-family: 'Raleway';
    font-size: 18px;
    float: center;
    font-weight: 700;

  }

  .card_colecao{
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  .shop-item{
    width: 100%;
  }

  .shop-item-label{
    font-family: 'Raleway';
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 100%;
    text-align: left;
  }

  .shop-item-price{
    font-family: 'Poppins';
    font-size: 14px;
    color: black;
  }
  
ion-scroll .scroll-content{
  overflow-y: scroll;
}

  .shop-item-price-tag{
    font-family: 'Poppins';
    font-size: 14px;
    color: black;
  }

}
