

<ion-content padding class="ficarnomeio">
    <ion-searchbar style="width: 90%;" [(ngModel)]="searchTerm" class="input_form"></ion-searchbar>
  <div class="introducao_produtos">
    <br>


    <div *ngIf="searchActive == false" >
      <span style="font-family: 'Raleway'; font-weight: 700; font-size: 25px; color: #242424">lançamento</span><br>
      <span style="font-family: 'Raleway'; font-size: 25px; font-weight: 400; color: #242424">coleção de verão</span><br>
      <span style="font-family: 'Raleway'; font-size: 25px; font-weight: 400; color: #242424">------------------</span><br>
      <span style="font-family: 'Alatsi'; font-size: 30px; color: #242424">Areia <br>e sal</span><br>
      <br>
    </div>

    <div *ngIf="searchActive == true" >
        <h2  class="ficarnomeio" style="font-family: 'Raleway'; background-color: #0000; font-weight: bold;">{{searchTermDisplay}}</h2>
        <br>
      </div>



  </div>
  <br><br>
  <ion-row>

    <div (click)="pushItem( 'ITEM ID' )" class="planilha shop-item">
      <img src="../../assets/imgs/leticia4.jpeg" alt="">
      <span class="preco">1000,00</span>
      <br><br>
    </div>

    <div (click)="pushItem( 'ITEM ID' )" class="planilha shop-item">
        <img src="../../assets/imgs/leticia4.jpeg" alt="">
        <span class="preco">1000,00</span>
        <br><br>
      </div>

      <div (click)="pushItem( 'ITEM ID' )" class="planilha shop-item">
          <img src="../../assets/imgs/leticia4.jpeg" alt="">
          <span class="preco">1000,00</span>
          <br><br>
        </div>
    
        <div (click)="pushItem( 'ITEM ID' )" class="planilha shop-item">
            <img src="../../assets/imgs/leticia4.jpeg" alt="">
            <span class="preco">1000,00</span>
            <br><br>
          </div>
          
  </ion-row> 
</ion-content>
