page-about {
  .ladoesquerdo{
    float: left;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .ladodireito{
    float: right;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .card{
    height: 50%;
  }

  .preco{
    text-align: center;
    font-family: 'Poppins';
  }

  .introducao_produtos{
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-top: 2%;
    font-weight: 700;

  }

  .titulo_produtos{
    font-family: 'Raleway';
    font-size: 20px;
    float: center;
  }

  .titulo_produtos2{
    font-family: 'Raleway';
    font-size: 18px;
    float: center;
    font-weight: 700;

  }



  .shop-item{
    width: 48%;
    // margin-left: 2%;

    padding: 0px;
  }

  .product-stats-container{
    padding: 5px;
    width: 52%;
    text-align: left;
  }

  .shop-item-label{
    width: 100%;
    font-family: 'Raleway';
    font-size: 20px;

  }

  .shop-item-price{
    // position:;
    // bottom: 0px;
    margin-left: 10px;
    margin-top: 5px;
    width: 100%;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 600;
  }
  .shop-item-price-tag{
    margin-left: 10px;
    margin-top: 5px;
    width: 100%;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
  }

}
