page-splash-screen {
  .splash-screen-text{
    vertical-align: middle;
    align-items: center;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
 }

 .fundo{
   width: 100%;
   align-items: center;
 }
}
