page-list {
    .planilha{
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.1);
        font-family: 'Raleway';
      } 
}
