page-list {
    .planilha{
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.1);
        font-family: 'Raleway';
      }
.button_search{
  // border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #aaa;
}

.selected{
  border-bottom: 1px solid #8ca8c0;
  color:#8ca8c0 ;
}

ion-scroll .scroll-content{
  overflow-y: scroll;
}

}
