page-list {
    .planilha{
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.1);
        font-family: 'Raleway';
      }
.button_search{
  // border: 2px solid rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #aaa;
}

.selected{
  border-bottom: 2px solid #8ca8c0;
  color:#8ca8c0 ;
}


}
