<ion-menu side="right" [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <button menuClose ion-item (click)="push('PerfilPage')">
        Sobre
      </button>

      <a  href="#" class="cadastrar" onclick="window.open('https://www.youtube.com/watch?v=Hof1dOoqbz0', '_system', 'location=yes'); return false;" >
        <button menuClose ion-item>
          Contato
        </button>
      </a>


      <ion-item *ngIf="isLoggedIn">-------------- Logged Only --------------</ion-item>

      <ion-item></ion-item>
        <div *ngIf="isLoggedIn">
          <button menuClose ion-item (click)="pushList('CadastroFuncPage')">
            Cadastrar Funcionário
          </button>
          <button menuClose ion-item (click)="pushList('CadastroFichaPage')">
            Cadastrar Ficha Técnica
          </button>
          <button menuClose ion-item (click)="pushList('CadastroInsumoPage')">
            Cadastrar Insumo
          </button>
          <button menuClose ion-item (click)="pushList('CadastroLojasPage')">
            Cadastrar Franquia
          </button>
          <button menuClose ion-item (click)="pushList('CadastroFornecPage')">
            Cadastrar Fornecedor
          </button>
          <button menuClose ion-item (click)="push('CadastroCustosPage')">
            Cadastrar Custo
          </button>



      <ion-item>
      </ion-item>

      <button *ngIf="isLoggedIn" menuClose ion-item (click)="logout()">
        Logout
      </button>

      <button class="stats-container" menuClose ion-item (click)="push('AlmoxarifadoPage')">
        <span class="stats-header" >  Almoxarifado </span>
        <ion-row class="stats-group">

                  <div class="stats-item"> <img width="20px" src="../assets/icon/temperature.svg" alt=""> <p>  24°C </p> </div>
                  <div class="stats-item"> <img width="20px" src="../assets/icon/drop.svg" alt="">        <p>  50%  </p> </div>
                  <div class="stats-item"> <img width="20px" src="../assets/icon/sun.svg" alt="">         <p> 213 lm</p> </div>
        </ion-row>
      </button>
  </div>

    </ion-list>



  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
