
page-sobre {

    .link_site{
    font-size: 17px;
    font-family: 'poppins';
    }
    
    .link_sitee{
        padding-left: 10%;
        font-size: 16px;
        color:     #708090;
        font-family: 'poppins';
    }
    
    .link_site1{
        padding-top: 60%;
        font-size: 18px;
        color: #808080;
        text-align: center;
        font-family: 'poppins';
    }
    
    .font_pwr{
        font-size: 26px;
        color: #808080;
        font-family: 'La Belle Aurore';
    }
    
    a{
        text-decoration: none;
    }
    }
    
    

